html{
    font-family: "Times New Roman", Times, serif;
}

#logo{
    display: block;
    margin: 0 auto;
    margin-top: 120px;
}

h1{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}